body{
    background-color: red;
}
a{
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    size: 30px;
    margin: 20px;
}
a:hover{
    background-color: blue;
    color: red;
}